@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
.wrapper{
    width:100%;
}
body{
	min-height: 75rem;
  	padding-top: 4.5rem;
	background: url('dp.gif') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
    border: 1px solid transparent;
	} 
.containerdev{
    text-align: center;
    width: 600px;
    margin: auto;
    border: 3px solid;
    border-color: lightpink;
    background: url('original.gif') transparent;
    background-size: contain;
	padding-top: .1rem;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
img.resize {
  max-width:30%;
  max-height:30%;
  border-radius: 50%;
}
h1,h3{
    color: darkblue;
}

img.other{
    max-width:5%;
    max-height:5%;
}